/* 变量 */
$themeColor: #AD2532;
$themePadding: 20upx;

$default-color: #333;
$border-default-color: #e2e2e2;
$position-list: left top right bottom;
$positions-list: (l:left,r:right,t:top,b:bottom );
$color-list: 000 333 666 999 fff yellow red;
$theame-default: #f8f8f8;
$theame-grey: #ccc;
$theame-warning: #f09429;